/* branch-style.css */

.branch-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .branch-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .branch-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .branch-exit-active {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 300ms, transform 300ms;
  }
  